.logo {
    filter: brightness(20%);
}

.con {
    height: 500px;
    overflow-x: auto;
    
}

.paragraf {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.paragraf:link {}
.paragraf:visited {
    color: black;
}
.paragraf:hover {
    color: chocolate;
}
.paragraf:active {}